<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable" >
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%date{DEFAULT} [%threadName] [%-5level] [%logger{36}] - %msg%n%throwable{full}" />
    </Console>
    <RollingFile name="FileAppender" filePattern="logs/%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="%date{DEFAULT} [%threadName] [%-5level] [%logger{36}] - %msg%n%throwable{full}" />
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
      <DirectWriteRolloverStrategy>
        <Delete basePath="logs">
          <IfAll>
            <IfFileName regex="\d{4}-\d{2}-\d{2}\.log" />
            <IfLastModified age="14D" />
          </IfAll>
        </Delete>
      </DirectWriteRolloverStrategy>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="FileAppender"/>
    </Root>
  </Loggers>
</Configuration>