<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable" >
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%date{DEFAULT} [%threadName] [%-5level] [%logger{36}] - %msg%n%throwable{full}" />
    </Console>
    <RollingFile name="FileAppender" fileName="logs/current.log" filePattern="logs/old%i.log">
      <PatternLayout pattern="%date{DEFAULT} [%threadName] [%-5level] [%logger{36}] - %msg%n%throwable{full}" />
      <Policies>
        <SizeBasedTriggeringPolicy size="5 MB" />
      </Policies>
      <DefaultRolloverStrategy fileIndex="min">
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="FileAppender"/>
    </Root>
  </Loggers>
</Configuration>